@mixin link-colors ($color-normal, $color-emphasize) {
    &, &:visited {
        color: $color-normal;
    }
    &:hover, &:active {
        color: $color-emphasize;
    }
}

@mixin link-normal () {
    &, &:visited {
        @content;
    }
};

@mixin link-emphasize () {
    &.hover, &.active, &.focus,
    &:hover, &:active, &:focus {
        @content;
    }
};

@mixin link-text-colors($nc, $ec) {
  @include link-normal {
    color: $nc;
  }
  @include link-emphasize {
    color: $ec;
  }
}

@mixin link-background-colors($nbc, $ebc) {
  @include link-normal {
    background-color: $nbc;
  }
  @include link-emphasize {
    background-color: $ebc;
  }
}