---
layout: page
type: article
---

{%- include snippets/assign.html target=site.data.variables.default.page.show_author_profile source0=layout.show_author_profile -%}
{%- include snippets/assign.html target=__return source0=page.show_author_profile -%}
{%- assign _show_author_profile = __return -%}
{%- if page.date -%}
  {%- include snippets/locale-to-string.html locale=site.data.locale.ARTICLE_MODIFY_DATE_FORMAT -%}
  {%- assign _locale_date_format = __return -%}

  {%- include snippets/locale-to-string.html locale=site.data.locale.LAST_UPDATED -%}
  {%- assign _locale_last_update = __return -%}
  <span class="dateModified">{{ _locale_last_update }}
    <time itemprop="dateModified" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: _locale_date_format }}</time>
  </span>
{%- elsif page.created_date -%}
  <meta itemprop="dateModified" content="{{ page.created_date | date_to_xmlschema }}">
{%- endif -%}

<div class="layout--article">

  <div class="article__content" itemprop="articleBody">{{ content }}</div>
  <hr style="background-color:#50cf4d;height:1px;width:30%;border:none;">
  <footer class="article__footer">
    {%- include article-footer/custom.html -%}

    {%- if _show_author_profile -%}
      {%- if page.author -%}
        {%- assign _author = site.data.authors[page.author] -%}
      {%- else -%}
        {%- assign _author = site.author -%}
      {%- endif -%}
      {%- include article-footer/author-profile.html author=_author -%}
    {%- endif -%}

    {%- if page.license -%}
      <div class="article__license">{%- include article-footer/license.html -%}</div>
    {%- endif -%}
  </footer>

  {%- include article-section-navigator.html -%}

</div>

<script>
  {%- include scripts/article.js -%}
</script>